form{
  display: flex;
  align-items: baseline;
}
nav.navbar{
  display: flex;
  justify-content: center;
  height: 100vh;
  background: rgb(1, 2, 6);
    background: linear-gradient(315deg, rgba(1, 2, 6, 0.8465511204481793) 18%, rgba(0, 0, 0, 0.8353466386554622) 100%, rgba(253, 45, 45, 1) 100%), url('../images/whale-shark-207401.jpg');
    
    background-size: cover;
    background-repeat: no-repeat;

}

form> input{
  height: 37px;
  margin: 8px;
}
